#Ignore all
*.*
*

#BASE FOLDER
!addons/
addons/*

!addons/everypay/
!addons/everypay/**

!payments/
!payments/everypay.php
payments/*

##
!skins/
skins/*

!skins/basic/
skins/basic/*

##
!skins/basic/admin/
skins/basic/admin/*

!skins/basic/admin/addons/
skins/basic/admin/addons/*

!skins/basic/admin/addons/everypay/
!skins/basic/admin/addons/everypay/**


#THE ADMIN SETTINGS TAB
!skins/basic/admin/views/
skins/basic/admin/views/*

!skins/basic/admin/views/payments/
skins/basic/admin/views/payments/*

!skins/basic/admin/views/payments/components/
skins/basic/admin/views/payments/components/*

!skins/basic/admin/views/payments/components/cc_processors/
!skins/basic/admin/views/payments/components/cc_processors/everypay.tpl
skins/basic/admin/views/payments/components/cc_processors/*

#CUSTOMER VIEW
!skins/basic/customer/
skins/basic/customer/*

!skins/basic/customer/views/
skins/basic/customer/views/*

!skins/basic/customer/views/orders/
skins/basic/customer/views/orders/*

!skins/basic/customer/views/orders/components/
skins/basic/customer/views/orders/components/*

!skins/basic/customer/views/orders/components/payments/
!skins/basic/customer/views/orders/components/payments/everypay.tpl


!js/
js/*

!js/addons/
js/addons/*

!js/addons/everypay/
!js/addons/everypay/**

!.gitignore
!README.md